body{
    font-family: verdana;
    background-color: rgb(227, 227, 227);
}
.myForm{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px hsla(0, 0%, 0%, 0.3);
}
h1{
    color: rgb(255, 72, 16);
}
#myTextBox{
    width: 50%;
    text-align: center;
    font-size: 1.5em;
    border: 2px solid black;
    border-radius: 3px;
}
#myLabel1{
    font-weight: bold;
}
#myLabel2{
    font-weight: bold;
}
#myButton{
    background-color: rgb(51, 123, 255);
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 20px;
    cursor: pointer;
}
#myButton:hover{
    background-color: rgb(27, 107, 255);
}
#result{
    font-size: 1.5em;
    font-weight: bold;
}
